<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nextgis.maplibui"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />
    <uses-feature
        android:name="android.hardware.compass"
        android:required="false"
        />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >

        <activity android:name=".NGWLoginActivity"
                  android:label="@string/account_setup"/>

        <activity android:name=".NGWSettingsActivity"
                  android:label="@string/ngw_settings"/>

        <service
            android:name=".account.NGWAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".services.NGWSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="com.nextgis.maplib.datasource.NGWLayerContentProvider"
            android:authorities="${GisApplicationId}.ngw.provider"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>
