<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nextgis.maplibui"
    >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >

        <activity android:name=".NGWLoginActivity"
                  android:label="@string/account_setup"/>

        <activity android:name=".NGWSettingsActivity"
                  android:label="@string/ngw_settings"/>

        <activity android:name=".ModifyAttributesActivity"
                  android:label="@string/set_attributes"/>

        <activity android:name=".CustomModifyAttributesActivity"
                  android:label="@string/set_attributes"/>

        <service
            android:name=".account.NGWAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

    </application>

</manifest>
