<!--
  ~ Project:  NextGIS Mobile
  ~ Purpose:  Mobile GIS for Android.
  ~ Author:   Dmitry Baryshnikov (aka Bishop), bishop.dev@gmail.com
  ~ Author:   NikitaFeodonit, nfeodonit@yandex.com
  ~ Author:   Stanislav Petriakov, becomeglory@gmail.com
  ~ ******************************************************************************
  ~ Copyright (c) 2012-2018 NextGIS, info@nextgis.com
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest package="com.nextgis.maplibui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".activity.NGWLoginActivity"
            android:label="@string/ngw_account_add"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.NGWSettingsActivity"
            android:label="@string/ngw_accounts"/>

        <activity
            android:name=".activity.NGIDSettingsActivity"
            android:label="@string/ngid_settings"/>

        <activity
            android:name=".activity.NGIDLoginActivity"
            android:label="@string/login"/>

        <activity
            android:name=".activity.ModifyAttributesActivity"
            android:label="@string/set_attributes"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.FormBuilderModifyAttributesActivity"
            android:label="@string/set_attributes"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.TracksActivity"
            android:label="@string/tracks"/>

        <activity
            android:name=".activity.AttributesActivity"
            android:label="@string/attributes"/>

        <activity
            android:name=".activity.VectorLayerSettingsActivity"
            android:label="@string/layerSettings"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.TMSLayerSettingsActivity"
            android:label="@string/layerSettings"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.SelectNGWResourceActivity"
            android:label="@string/ngw_accounts"
            android:windowSoftInputMode="stateHidden"/>

        <!-- android:process=":tile_download" -->
        <service
            android:name="com.nextgis.maplibui.service.TileDownloadService"
            android:enabled="true"
            android:exported="true"
            android:process=":tile_download"/>

        <!-- android:process=":fill_layer" -->
        <service
            android:name="com.nextgis.maplibui.service.LayerFillService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="com.nextgis.maplibui.service.RebuildCacheService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="com.nextgis.maplibui.service.TrackerService"
            android:enabled="true"
            android:exported="true"
            android:process=":tracks"/>

        <service
            android:name="com.nextgis.maplibui.service.WalkEditService"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".service.BootLoader"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
